@import "tailwindcss";

@plugin "daisyui";

@plugin "daisyui/theme" {
    name: "darkness";
    default: false;
    prefersdark: false;
    color-scheme: "dark";
    --color-base-100: oklch(27% 0.033 256.848);
    --color-base-200: oklch(20% 0.042 265.755);
    --color-base-300: oklch(44% 0.03 256.802);
    --color-base-content: oklch(98% 0.003 247.858);
    --color-primary: oklch(87% 0.169 91.605);
    --color-primary-content: oklch(27% 0.077 45.635);
    --color-secondary: oklch(89% 0.196 126.665);
    --color-secondary-content: oklch(27% 0.072 132.109);
    --color-accent: oklch(87% 0.006 286.286);
    --color-accent-content: oklch(25% 0.09 281.288);
    --color-neutral: oklch(14% 0.004 49.25);
    --color-neutral-content: oklch(98% 0.001 106.423);
    --color-info: oklch(60% 0.126 221.723);
    --color-info-content: oklch(98% 0.019 200.873);
    --color-success: oklch(59% 0.145 163.225);
    --color-success-content: oklch(97% 0.021 166.113);
    --color-warning: oklch(64% 0.222 41.116);
    --color-warning-content: oklch(98% 0.016 73.684);
    --color-error: oklch(90% 0.182 98.111);
    --color-error-content: oklch(97% 0.014 343.198);
    --radius-selector: 0.5rem;
    --radius-field: 1rem;
    --radius-box: 1rem;
    --size-selector: 0.21875rem;
    --size-field: 0.21875rem;
    --border: 1px;
    --depth: 0;
    --noise: 1;
}


@layer base {
  @media (prefers-color-scheme: dark) {
    :root {
      color-scheme: dark;
      --color-base-100: oklch(25.33% 0.016 252.42);
      --color-base-200: oklch(23.26% 0.014 253.1);
      --color-base-300: oklch(21.15% 0.012 254.09);
      --color-base-content: oklch(97.807% 0.029 256.847);
      --color-primary: oklch(58% 0.233 277.117);
      --color-primary-content: oklch(96% 0.018 272.314);
      --color-secondary: oklch(65% 0.241 354.308);
      --color-secondary-content: oklch(94% 0.028 342.258);
      --color-accent: oklch(77% 0.152 181.912);
      --color-accent-content: oklch(38% 0.063 188.416);
      --color-neutral: oklch(14% 0.005 285.823);
      --color-neutral-content: oklch(92% 0.004 286.32);
      --color-info: oklch(74% 0.16 232.661);
      --color-info-content: oklch(29% 0.066 243.157);
      --color-success: oklch(76% 0.177 163.223);
      --color-success-content: oklch(37% 0.077 168.94);
      --color-warning: oklch(82% 0.189 84.429);
      --color-warning-content: oklch(41% 0.112 45.904);
      --color-error: oklch(71% 0.194 13.428);
      --color-error-content: oklch(27% 0.105 12.094);
      --radius-selector: 0.5rem;
      --radius-field: 0.25rem;
      --radius-box: 0.5rem;
      --size-selector: 0.25rem;
      --size-field: 0.25rem;
      --border: 1px;
      --depth: 1;
      --noise: 0;
    }
  }
}

.menu {
    font-size: 0.875rem;
    padding: 6px;
    :where(li > .menu-dropdown:not(.menu-dropdown-show)) {
        display: none;
    }

    :where(li:not(.menu-title) > *:not(ul, details, .menu-title, .btn)),
    :where(li:not(.menu-title) > details > summary:not(.menu-title)) {
        align-items: flex-start;
    }

}

/*
@plugin "daisyui" {
    themes: dark --default, abyss, acid, aqua, autumn, black, bumblebee, business, caramellatte,
        coffee, corporate, cmyk, cupcake, cyberpunk, dark, dim, emerald, dracula fantasy, forest, garden, halloween, lemonade, light, lofi, luxury, night,
        nord, pastel, retro, silk, sunset, synthwave, valentine, winter;
}

themes: false;
themes: dark --prefersdark;
themes: light --preferslight
@apply text-3xl;

.input {
display: inline-block;
	background-color: var(--color-base-content)
}
  .rowselector {
  display: inline-block;

  border-radius: 50%;
  aspect-ratio: 1; 
  background-color: cornflowerblue; 
    
  display: flex;
  align-items: center;
}
*/
.card-body {
    padding: 0;
    font-size: var(--card-fs, 0.875rem);
}

.ti-xs {
    font-size: 12px !important;
}

.ti-sm {
    font-size: 16px !important;
}

.ti-md {
    font-size: 24px !important;
}

.ti-lg {
    font-size: 32px !important;
}

.ti-xl {
    font-size: 48px !important;
}


.modal-box {
    max-width: 80%;
    max-height: 600px;
}

.center-both {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rowselector {
    width: fit-content;
    border-width: 2px;
    border-color: #000000;
    border-radius: 8px;
}

.p_base {
    vertical-align: top;
    line-height: 1;
}

.p_big {
    vertical-align: top;
    font-size: var(--text-xl);
    color: var(--color-primary);
}

h1 {
    font-size: var(--text-4xl);
    color: var(--color-primary);
}

h2 {
    font-size: calc(var(--text-3xl) * 1.15);
    font-weight: normal;
    /*color: var(--color-primary);*/
    color: var(--color-primary);
}

h3 {
    font-size: var(--text-2xl);
    color: var(--color-primary);
}

h4 {
    font-size: var(--text-xl);
    color: var(--color-primary);
}

h5 {
    font-size: var(--text-base);
    color: var(--color-primary);
}

h6 {
    font-size: var(--text-sm);
    color: var(--color-primary);
}