.main_monitor {
    background-color: #2d323c;
    border-radius: 16px;
    box-sizing: border-box;
    /* ← esto es la clave */
    padding: 2px;
    box-shadow: -1px -1px 5px 7px rgba(48, 46, 46, 0.75) inset;
    -webkit-box-shadow: -1px -1px 5px 7px rgba(48, 46, 46, 0.75) inset;
    -moz-box-shadow: -1px -1px 5px 7px rgba(48, 46, 46, 0.75) inset;

    border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
}
